body {
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');

    background-image: url('imagens/wallpaper002.jpg');

    background-size: 100px 100px;
    background-repeat: no-repeat;
}